{extend name="common/base" /}
{block name="title"}首页{/block}
{block name="main"}
<div class="tpl-content-page-title">
    Amaze UI 首页组件
</div>
<ol class="am-breadcrumb">
    <li><a href="#">设置</a></li>
    <li><a href="#">权限管理</a></li>
    <li class="am-active">添加权限</li>
</ol>
<div class="tpl-block ">
    <div class="am-g tpl-amazeui-form">
        <div class="am-u-sm-12 am-u-md-9">
            <form class="am-form am-form-horizontal" id="accessForm">
                <div class="am-form-group">
                    <label for="user-weibo" class="am-u-sm-3 am-form-label">权限标题</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="输入权限标题" value="<?php echo $info ? $info->title : ''; ?>" name="title" />
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-weibo" class="am-u-sm-3 am-form-label">URL</label>
                    <div class="am-u-sm-9">
                        <textarea class="url-text" placeholder="输入地址，如果有多个地址以换行分隔，一行一个" name="url"><?php echo $info ? $info->url : ''; ?></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                <!-- 仅当有id提交过来并且查询有值才加载这个隐藏域 -->
                {php}if (isset($_GET['id']) && $info):{/php}
                    <input type="hidden" name="id" value="<?php echo $info ? $info->id : 0; ?>" />
                {php}endif;{/php}
                    <div class="am-u-sm-9 am-u-sm-push-3" style="text-align: right;">
                        <button type="button" class="am-btn am-btn-secondary am-round" id="postAccess">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}